@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300&display=swap');

    
    .content {
        margin: 20px;
    }
    
    .filters {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    .filter {
        margin: 10px;
        font-size: 16px;
        padding: 10px;
    }
    
    label {
        margin-right: 5px;
        display: block;
        margin-bottom: 5px;
    }

    .search-container {
        display: flex;
        position: relative;
        margin-bottom: 10px;
    }
    
    .search-input,
    .search-button {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
    }
    
    .search-input {
        border: 1px solid #ccc;
        width: 200px;
    }
    
    .search-button,
    div.search-container button {
        background-color: rgb(249, 121, 140);
        color: white;
        border: none;
        cursor: pointer;
        width: 150px;
        height: 40px;
    }
    
    
    div.search-container select{
        width: 200px;        
    }

    div.search-container button {
        float: left;
        width: 100%;
        padding: 10px;
        margin-left: 10px;
        font-size: 16px;
        border: 1px solid grey;
        border-radius: 5px;
    }


    div.search-container button:hover {
    background: rgb(249, 121, 140);
    
    }

    div.search-container::after {
    content: "";
    clear: both;
    display: table;
    }
  
    