@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300&display=swap');

    
    .container{
        position: relative;
        margin: 20px;
        width: auto;
    }
    .agent-container{
        font-family: ;
    }

  
    .search1-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
    .search1-input,
    .search1-button{
        padding: 10px;
        font-size: 16px;
    }
    .search1-input{
    border: none;
    border-radius: 5px 0 0 5px;
    }
    .search1-button{
        background-color: rgb(249, 121, 140);
        color: white;
        border: none;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
        margin-top: 10px;
        width: 100px;
        height: 40px;
    }

    .content {
        margin: 20px;
    }
    
    h1 {
        color: black;
    }
    
    .filters {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    .filter {
        margin: 30px;
        font-size: 20px;
        padding: 10px;
    }
    
    label {
        margin-right: 5px;
        display: block;
        margin-bottom: 10px;
    }

    .search-container {
        display: flex;
        position: relative;
    }
    
    .search-input,
    .search-button {
        padding: 10px;
        font-size: 16px;
    }
    
    .search-input {
        border: 1px solid #ccc;
        border-radius: 5px 5px 5px 5px;
    }
    
    .search-button {
        background-color: rgb(249, 121, 140);
        color: white;
        border: none;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
        margin-top: 10px;
        width: 150px;
        height: 40px;
    }
    
    div.search-container select{
        width: 190px;
        height: 40px;
        
    }

div.search-container button{
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(249, 121, 140);
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}


div.search-container button:hover {
  background: rgb(249, 121, 140);
  
}

div.search-container::after {
  content: "";
  clear: both;
  display: table;
  
}
  
    